.about {
  font-family: Lato, sans-serif;
  background-color: #f1f1f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center; 
  padding: 0;
  margin-top: 1px;
  margin-bottom:0 ;
}

.about h1 {
  
  font-weight: 200px;
  font-size: 50px;
  }          /*about styled*/
  
.right-about {
  padding-left: 100px;
}

.hero h2 {
  font-size: 50px;
color: orange;
}



.hero p {
  text-overflow: clip;
padding: auto;
}

.button-two {
  background-color: f1f1f4;
  color: #111;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border-color: #f2c800;
  cursor: pointer;
}

.button-two:hover {
  background-color: #e0b700;
  color: black;
}


.hero img {
  padding-left: 10px;
  padding-right: 10px;
}
