/* General styles for the Contact component */
.contact {
  background-color: #243447;
  display: flex;
  justify-content: space-between; /* Align text to the left and button to the right */
  align-items: center;
  height: 20vh;
  padding: 0 50px;
  margin: 20px 250px;
  text-align: left; /* Align the text to the left */
  color: white;
  gap: 20px; /* Adds space between the sections */
}

.collaboration-section {
  flex: 1; /* Make the text section take up available space */
}

.collaboration-section h2 {
  font-size: 2rem;
}

.collaboration-section p {
  margin: 20px 0;
}

.contact-button {
  margin: 20px;
}

.contact-button .hero-button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .contact {
    margin: 20px 100px; /* Reduce margin on medium screens */
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column; /* Stack text and button vertically */
    justify-content: center;
    text-align: center; /* Center align for smaller screens */
    margin: 20px 50px;
    height: auto; /* Let the height adjust based on content */
    
  }

  .collaboration-section {
    margin-bottom: 20px; /* Add space between text and button */
  }

/*  .collaboration-section h2, 
  .collaboration-section p {
   
    
  }
  
  */
}

@media (max-width: 480px) {
  .contact {
    margin: 20px; /* Remove side margins on very small screens */
  }

  .collaboration-section h2 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .contact-button .hero-button {
    font-size: 0.9rem; /* Make the button smaller on mobile */
    padding: 8px 16px;
  }
}
